<div class="consigna__container">
  <h2>¡Bienvenido a Glotify! Ingresa el nombre del artista que deseas buscar</h2>
  
  <form ng-submit="HomeCtrl.searchArtist()">
    <input type="text" id="artist-name"/>
    <input type="submit" value="Buscar"/>
  </form>

  <h3>FAVORITOS</h3>
  <ul>
    <favorite
      tracks = "HomeCtrl.tracks"
      ng-repeat = "track in HomeCtrl.tracks"
      track-name = "track.name"
      main-artist-name = "track.artists[0].name"
      main-artist-id = "track.artists[0].id"
      album-name = "track.album.name"
      album-id = "track.album.id"
      track-id = "track.id"
      favorite-tracks-ids ="HomeCtrl.favoriteTracksIds"

      
    />
  </ul>

</div>
